body,h1,h2,h3,h4,h5,h6,ul,li {
    margin: 0;
    padding: 0;
}
.balance {
    width: 100%;
    background: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.balance .uldegdel {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.balance .orlogo-zarlaga {
    margin-top: 25px;
}
.balance .orlogo-zarlaga .bud {
    margin: 15px;
    width: 230px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #fff;
    border-radius: 30px;
}
.orlogo {
    background: green;
}
.zarlaga {
    background: red;
}
.bud .title {
    width: 50%;
}
.bud .amount {
    width: 50%;
    text-align: right;
}
.insert {
    width: max-content;
    padding: 15px;
    background: #ccc;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 30px;
}
select , input , button{
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-right: 15px;
}
select:focus {
    outline: none;
}
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}
button {
    margin-right: 0 !important;
    border-radius: 20%;

}
button:hover {
    background: orange;
    color: #fff;
}
.list {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list .sublist {
    width: 50%;
    margin-left: 100px;
}
.list-orlogo h1{
    color: green;
    position: fixed;
    bottom: 20%;
}
.list-zarlaga h1{
    color: red;
    position: fixed;
    bottom: 20%;
}
.huvaalt {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.a {
    width: 50%;
}
.add-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}
@media (min-width: 576px){
    .container{
        max-width: 100% !important; 
    }
}
#amount, #description{
    border-left: 2px solid #ccc;
}